Source: pdebi
Section: admin
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper (>= 10), python3, gettext
Standards-Version: 4.3.0
Homepage: http://pardus.org.tr

Package: pdebi
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pardus Deb Package Manager
